*~
model.log
*/input.csv
__pycache__
.python-version
output/*
metadata/*
venv/
analysis/tempdata/
/tempdata/
*~
model.log
*/input*.csv
__pycache__
.python-version
.idea/
analysis/*
!*.do
!*.R
!*.ado
!*.hlp
!*.py
!*.sthlp
venv/
.cache
*.exe
output/*
*.dta
analysis/tempdata/
/tempdata/
analysis/output/
/output/
!*.txt
!*.svg
analysis/log/
/log/
!*.txt

